@charset "utf-8";

html {
	height: 100%;
}

body {
	*font-size: 9px;
	height: 100%;
}

div#wrapper {
	height: 100%;
	width:100%;
}

div.content {
	display: inline-block;
	height: 100%;
	overflow:auto;
	vertical-align: top;
}

div#left {
	width: 80%;
}

div#right {
	width: 20%;
	position: absolute;
	border-left: 1px solid lightgrey;
}

ul.nav {
	margin-top: 10px;
	margin-bottom: 10px;
}

ul.nav li:first-child {
	margin-left: 5px;
}
ul.nav li a {
	*border-radius: 0;
}

table#ship>thead>tr>th,
table#item>thead>tr>th {
	cursor: pointer;
}
table>thead>tr>th.current {
	color: red;
}
table>tbody>tr>td.deck,
table>tbody>tr>td.deck {
	max-width: 50px;
}

table>caption {
	padding-top: 5px;
}

table>tbody>tr>th, table>tbody>tr>td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table-condensed thead>tr>th,
.table-condensed tbody>tr>th,
.table-condensed tfoot>tr>th {
	padding: 6px 0px;
}
.table-condensed thead>tr>td,
.table-condensed tbody>tr>td,
.table-condensed tfoot>tr>td {
	padding: 5px 0px;
}
table>thead>tr>th.kyouka-top {
	border-bottom: 0;
	font-size: xx-small;
	padding: 0;
}
table>thead>tr>th.kyouka-bottom {
	border-top: 0;
	font-size: xx-small;
	padding: 0;
}
table>tbody>tr>td.cond-worst { color: red; }
table>tbody>tr>td.cond-worse { color: darkorange; }
table>tbody>tr>td.cond-bad { color: gold; }
table>tbody>tr>td.cond-normal { /*color: red;*/ }
table>tbody>tr>td.cond-good { color: limegreen; }

table>tbody>tr>td.zero { color: red; }
table>tbody>tr>td.quarter { color: darkorange; }
table>tbody>tr>td.half { color: gold; }
table>tbody>tr>td.three-quarter { /*color: red;*/ }
table>tbody>tr>td.full { color: limegreen; }

table>tbody>tr>td.kyouka-max { color: limegreen; }

.ui-resizable .ui-resizable-w {
	left: 0;
	cursor: ew-resize;
}

/*
.table {
	table-layout: fixed;
}

.table-bordered {
	border: 0!important;
}

.table-bordered>tbody>tr>td:first-child {
	border-left-width: 0px!important;
}

.table-bordered>tbody>tr>td {
	border-right-width: 0px!important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table-bordered>caption {
	*display: table-cell;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
*/