<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="jquery-ui-1.10.3.custom.min.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="panel.css">
	<script src="jquery-2.0.3.min.js"></script>
	<script src="jquery-ui-1.10.3.custom.min.js"></script>
	<script src="angular.min.js"></script>
	<script src="bootstrap/js/bootstrap.js"></script>
	<script src="panel.js"></script>
	<script src="analytics.js"></script>
</head>
<body ng-controller="mainCtrl">
<div id="wrapper">

<div id="left" class="content">

	<ul class="nav nav-tabs">
		<li ng-class="{active: (config.tab == 'ship')}"><a href="#" data-toggle="tab" ng-click="config.tab = 'ship';">艦娘</a></li>
		<li ng-class="{active: (config.tab == 'item')}"><a href="#" data-toggle="tab" ng-click="config.tab = 'item';">装備</a></li>
	</ul>

	<div class="tab-content">
		<div ng-if="config.tab == 'ship'" class="tab-pane active" id="ship-tab">
			<table class="table table-striped table-condensed" id="ship" ng-controller="shipsCtrl">
				<thead>
					<tr>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'index')}" ng-click="sort('index', true);">INDEX</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'id')}" ng-click="sort('id', true);">ID</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'deck')}" ng-click="sort('deck', true);">艦隊名</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'stype')}" ng-click="sort('stype', true);">艦種</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'name')}" ng-click="sort('name', true);">艦名</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'lv')}" ng-click="sort('lv', true);">LV</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'exp')}" ng-click="sort('exp', true);">EXP</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'hp')}" ng-click="sort('hp', true);">HP</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'cond')}" ng-click="sort('cond', true);">疲労</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'fuel')}" ng-click="sort('fuel', true);">燃料</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'bull')}" ng-click="sort('bull', true);">弾薬</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'karyoku')}" ng-click="sort('karyoku', true);">火力</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'soukou')}" ng-click="sort('soukou', true);">装甲</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'raisou')}" ng-click="sort('raisou', true);">雷装</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'kaihi')}" ng-click="sort('kaihi', true);">回避</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'taiku')}" ng-click="sort('taiku', true);">対空</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'taisen')}" ng-click="sort('taisen', true);">対潜</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'sakuteki')}" ng-click="sort('sakuteki', true);">索敵</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'lucky')}" ng-click="sort('lucky', true);">幸運</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'onslot')}" ng-click="sort('onslot', true);">搭載</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'soku')}" ng-click="sort('soku', true);">速力</th>
						<th rowspan="2" class="text-center" ng-class="{current: (current == 'leng')}" ng-click="sort('leng', true);">射程</th>
						<th colspan="4" class="text-center kyouka-top" ng-class="{current: (current == 'kyouka')}" ng-click="sort('kyouka', true);">残り強化値</th>
					</tr>
					<tr>
						<th class="text-center kyouka-bottom" ng-class="{current: (current == 'kyouka_karyoku')}" ng-click="sort('kyouka_karyoku', true);">火力</th>
						<th class="text-center kyouka-bottom" ng-class="{current: (current == 'kyouka_raisou')}" ng-click="sort('kyouka_raisou', true);">雷装</th>
						<th class="text-center kyouka-bottom" ng-class="{current: (current == 'kyouka_taiku')}" ng-click="sort('kyouka_taiku', true);">対空</th>
						<th class="text-center kyouka-bottom" ng-class="{current: (current == 'kyouka_soukou')}" ng-click="sort('kyouka_soukou', true);">装甲</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ship in ships | orderBy:order:reverse">
						<td class="text-center">{{$index}}</td>
						<td class="text-center">{{ship.api_id}}</td>
						<td class="text-center deck">{{ship.api_deck.api_name}}</td>
						<td class="text-center">{{ship.api_ship.api_stype.api_name || '-'}}</td>
						<td class="text-center">{{ship.api_ship.api_name || '-'}}</td>
						<td class="text-center">{{ship.api_lv}}</td>
						<td class="text-center"><a tooltip="ship.api_exp_now+'/'+ship.api_exp_max" onclick="javascript:void(0);">{{ship.api_exp_rate*100|number:1}}%</a></td>
						<td class="text-center {{getRate(ship.api_hp_rate)}}">{{ship.api_nowhp}}/{{ship.api_maxhp}}</td>
						<td class="text-center cond-{{getCondition(ship.api_cond)}}">{{ship.api_cond}}</td>
						<td class="text-center {{getRate(ship.api_fuel_rate)}}">{{(ship.api_fuel_rate*100|number:1) || '-'}}%</td>
						<td class="text-center {{getRate(ship.api_bull_rate)}}">{{(ship.api_bull_rate*100|number:1) || '-'}}%</td>
						<td class="text-center">{{ship.api_karyoku.0}}<!--({{ship.api_karyoku.1}})--></td>
						<td class="text-center">{{ship.api_soukou.0}}<!--({{ship.api_soukou.1}})--></td>
						<td class="text-center">{{ship.api_raisou.0}}<!--({{ship.api_raisou.1}})--></td>
						<td class="text-center">{{ship.api_kaihi.0}}<!--({{ship.api_kaihi.1}})--></td>
						<td class="text-center">{{ship.api_taiku.0}}<!--({{ship.api_taiku.1}})--></td>
						<td class="text-center">{{ship.api_taisen.0}}<!--({{ship.api_taisen.1}})--></td>
						<td class="text-center">{{ship.api_sakuteki.0}}<!--({{ship.api_sakuteki.1}})--></td>
						<td class="text-center">{{ship.api_lucky.0}}<!--({{ship.api_lucky.1}})--></td>
						<td class="text-center">{{ship.api_onslot.0+ship.api_onslot.1+ship.api_onslot.2+ship.api_onslot.3}}</td>
						<td class="text-center">{{getSokuName(ship.api_ship.api_sokuh)}}</td>
						<td class="text-center">{{getLengName(ship.api_leng)}}</td>
						<td class="text-center" ng-class="{'kyouka-max': ((ship.api_kyouka_rest.0) == 0)}">{{''+ship.api_kyouka_rest.0 || '-'}}</td>
						<td class="text-center" ng-class="{'kyouka-max': ((ship.api_kyouka_rest.1) == 0)}">{{''+ship.api_kyouka_rest.1 || '-'}}</td>
						<td class="text-center" ng-class="{'kyouka-max': ((ship.api_kyouka_rest.2) == 0)}">{{''+ship.api_kyouka_rest.2 || '-'}}</td>
						<td class="text-center" ng-class="{'kyouka-max': ((ship.api_kyouka_rest.3) == 0)}">{{''+ship.api_kyouka_rest.3 || '-'}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-if="config.tab == 'item'" class="tab-pane active" id="item-tab">
			<table class="table table-striped table-condensed" id="item" ng-controller="itemsCtrl">
				<thead>
					<tr>
						<th class="text-center" ng-class="{current: (current == 'index')}" ng-click="sort('index', true);">INDEX</th>
						<th class="text-center" ng-class="{current: (current == 'name')}" ng-click="sort('name', true);">装備名</th>
						<th class="text-center" ng-class="{current: (current == 'stack')}" ng-click="sort('stack', true);">数量</th>
						<th class="text-center" ng-class="{current: (current == 'rare')}" ng-click="sort('rare', true);">レア</th>
						<th class="text-center" ng-class="{current: (current == 'houg')}" ng-click="sort('houg', true);">火力</th>
						<th class="text-center" ng-class="{current: (current == 'raig')}" ng-click="sort('raig', true);">雷装</th>
						<th class="text-center" ng-class="{current: (current == 'baku')}" ng-click="sort('baku', true);">爆装</th>
						<th class="text-center" ng-class="{current: (current == 'tyku')}" ng-click="sort('tyku', true);">対空</th>
						<th class="text-center" ng-class="{current: (current == 'tais')}" ng-click="sort('tais', true);">対潜</th>
						<th class="text-center" ng-class="{current: (current == 'saku')}" ng-click="sort('saku', true);">索敵</th>
						<th class="text-center" ng-class="{current: (current == 'houm')}" ng-click="sort('houm', true);">命中</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in items | orderBy:order:reverse">
						<td class="text-center">{{$index}}</td>
						<td class="text-center">{{item.api_name}}</td>
						<td class="text-center">{{item.api_stack}}</td>
						<td class="text-center">{{getRareName(item.api_rare)}}</td>
						<td class="text-center">{{item.api_houg}}</td>
						<td class="text-center">{{item.api_raig}}</td>
						<td class="text-center">{{item.api_baku}}</td>
						<td class="text-center">{{item.api_tyku}}</td>
						<td class="text-center">{{item.api_tais}}</td>
						<td class="text-center">{{item.api_saku}}</td>
						<td class="text-center">{{item.api_houm}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="right" class="content" resize>
	<table class="table table-striped table-condensed" id="material">
		<caption>資材</caption>
		<thead>
			<tr>
				<th class="text-center">燃料</th>
				<th class="text-center">弾薬</th>
				<th class="text-center">鉄鋼</th>
				<th class="text-center">ボーキ</th>
				<th class="text-center">建造材</th>
				<th class="text-center">修復材</th>
				<th class="text-center">開発資材</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-center">{{material.0.api_value || '-'}}</td>
				<td class="text-center">{{material.1.api_value || '-'}}</td>
				<td class="text-center">{{material.2.api_value || '-'}}</td>
				<td class="text-center">{{material.3.api_value || '-'}}</td>
				<td class="text-center">{{material.4.api_value || '-'}}</td>
				<td class="text-center">{{material.5.api_value || '-'}}</td>
				<td class="text-center">{{material.6.api_value || '-'}}</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-condensed" id="mission" ng-controller="missionsCtrl">
		<caption>遠征</caption>
		<thead>
			<tr>
				<th class="text-center">ID</th>
				<th class="text-center">艦隊名</th>
				<th class="text-center">遠征名</th>
				<th class="text-center">残り時間</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="deck in decks" ng-if="deck.api_mission.0 > 0">
				<td class="text-center">{{deck.api_id}}</td>
				<td class="text-center deck">{{deck.api_name}}</td>
				<td class="text-center">{{deck.api_mission_master.api_name || '-'}}</td>
				<td class="text-center"><a callback tooltip="getDateString(deck.api_mission.2, 'Y-m-d H:i:s')" onclick="javascript:void(0);">{{getRestString(deck.api_mission.2, 'H:i:s')}}</a></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-condensed" id="ndock" ng-controller="ndocksCtrl">
		<caption>入渠</caption>
		<thead>
			<tr>
				<th class="text-center">ID</th>
				<th class="text-center">艦種</th>
				<th class="text-center">艦名</th>
				<th class="text-center">残り時間</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="ndock in ndocks" ng-if="ndock.api_state > 0">
				<td class="text-center">{{ndock.api_id}}</td>
				<td class="text-center">{{ndock.api_ship.api_ship.api_stype.api_name || '-'}}</td>
				<td class="text-center">{{ndock.api_ship.api_ship.api_name || '-'}}</td>
				<td class="text-center"><a callback tooltip="getDateString(ndock.api_complete_time, 'Y-m-d H:i:s')" onclick="javascript:void(0);">{{getRestString(ndock.api_complete_time, 'H:i:s')}}</a></td>
			</tr>
		</tbody>
	</table>
	<table class="table table-striped table-condensed" id="kdock" ng-controller="kdocksCtrl">
		<caption>建造</caption>
		<thead>
			<tr>
				<th class="text-center">ID</th>
				<th class="text-center">艦種</th>
				<th class="text-center">艦名</th>
				<th class="text-center">残り時間</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="kdock in kdocks" ng-if="kdock.api_state > 0">
				<td class="text-center">{{kdock.api_id}}</td>
				<td class="text-center">{{kdock.api_created_ship.api_stype.api_name || '-'}}</td>
				<td class="text-center">{{kdock.api_created_ship.api_name || '-'}}</td>
				<td class="text-center"><a callback tooltip="getDateString(kdock.api_complete_time, 'Y-m-d H:i:s')" onclick="javascript:void(0);">{{getRestString(kdock.api_complete_time, 'H:i:s')}}</a></td>
			</tr>
		</tbody>
	</table>
</div>

</div>
</body>
</html>
